html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.07);
}

.start-finish-play {
    position: absolute;
    top: 50px;
    left: 10%;
    transform: translate(-50%, 0);
}
.start-finish-play button {
    color: #fff;
    border: 3px solid #fff;
    height: 50px;
    width: 100px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    margin: 10px;
}
.start {
    background: #f23b25;
}
.restart {
    background: #2528f2; 
}
.logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
.logo img {
    height: 100px;
    width: 150px;
}